@page
@model ASP.NET_Core_Inlämningsuppgift1_Daniel_Persson.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}




<body>
    <div>
        <h1>Welcome</h1>
        <p>
            Paragraph text här för alla
        </p>
        <div>
            <button asp-page="/Index">Register</button> <!-- Knapparna här fungerar ej, men de behöver inte fungera än i detta projektet....-->
            <button asp-page="/Error">Login</button>
        </div>
        <form asp-action="Error">
            <button type="submit">Login</button>
        </form>
    </div>
</body>


