@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    <div class="MainHeaderBody">
        <div class="text-center">
            <h1 class="display-4">Welcome To EventApp</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <div>

            <button>Home</button>
            <button>Events</button>
            <button>My Events</button>
            <button>Login</button>

        </div>
    </div>

</header>
<body>
    <main>
        <div class="MainContainer">
            <h1>Welcome to Event</h1>
            <p>
                Text för paragraph
            </p>
        </div>
        <div class="LoginButtons">
            <button>Register</button>
            <button>Login</button>
        </div>






    </main>

</body>

<!--                 <header>
    <div class="MainHeaderBody">
        <div class="text-center">
            <h1 class="display-4">Welcome To EventApp</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <div

            <button>Home</button>
            <button>Events</button>
            <button>My Events</button>
            <button>Login</button>


        </div>
    </div>

</header>
    <
    <header>
    <div class="MainHeaderBody">
        <div class="text-center">
            <h1 class="display-4">Welcome To EventApp</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
        <div>

            <button>Hej</button>

        </div>
    </div>


    /*
