@page
@model ASP.NET_Core_Inlämningsuppgift1_Daniel_Persson.Pages.MyEventsModel
@{
    ViewData["Title"] = "MyEvents";
}


<h1>MyEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees) <!--Name-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees) <!--Email-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees) <!--Adress-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Attendees) <!--PhoneNumber-->
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>